body {
  background: black;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  text-shadow: 3px 3px 1px black;
}

.fa {
  text-shadow: none;
}

.main {
  /*height: calc(100% - 50px);*/
  height: 90vh;
  overflow: scroll;
}

.postBorder {
  box-sizing: border-box;
  border: 3px solid white;
  padding: 15px;
}

.postContainer {
  background-color: rgba(30, 30, 30, 0.7);
  box-shadow: 7px 7px 3px black;
  box-sizing: border-box;
  padding: 5px;
}

@media (max-width: 1200px) {
  .postContent {
    margin-left: 190px;
  }
}

.commentContent p{
  color: #7EE1F6;
  display: inline-block;
}

.postImage {
  width: 250px;
}

.scaleImage img {
  width: 175px;
  z-index: 1;
  position: absolute;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.scaleImage:hover img{
  position: absolute;
  z-index: 1;
  -webkit-transform:scale(2);
  -moz-transform:scale(2);
  -ms-transform:scale(2);
  -o-transform:scale(2);
  transform:scale(2);
}


.commentPic {
  width: 50px;
  border: 2px solid white;
}

.postTitle {
  font-size: 12pt;
  text-decoration: underline;
}

.postAuthor {
  color: #E45B58;
  margin-bottom: 15px;
}

.createComment form {
  margin: 10px 0;
}

.createComment button {
  margin-top: 25px;
}

.error {
  color: red;
}

li {
  list-style: none;
}

.positive {
  color: #0CDE0C;
}

.negative {
  color: red;
}

.upVote .fa:hover {
  color: #0CDE0C;
}

.downVote .fa:hover {
  color: red;
}
.ng-enter {
  transition:0.2s linear all;
  opacity:0;
}

.ng-enter.ng-enter-active {
  opacity:1;
}

.ng-leave {
  transition:0.2s linear all;
  opacity:1;
}

.ng-leave.ng-leave-active {
  opacity:0;
}
