<!DOCTYPE html>
<html ng-app='RedditApp'>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js'></script>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='css/normalize.css'/>
    <link rel='stylesheet' href='css/bootstrap.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='css/styles.css'/>
    <script src='js/lib/angular.js'></script>
    <script src='js/lib/angular-messages.js'></script>
    <script src='js/lib/angular-animate.js'></script>
    <script src='js/lib/moment.js'></script>
    <script src='js/lib/angular-moment.js'></script>
    <script src='js/lib/angular-sanitize.js'></script>
    <script src='js/app.js'></script>
    <script src='js/controllers/post_controller.js'></script>
    <script src='js/services/posts.js'></script>
  </head>
  <body ng-controller='PostController'>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Runnit</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a  href="#"
                    ng-click='toggleForm = !toggleForm; formComplete = false'><i class="fa fa-plus" aria-hidden="true" style='width: 10px'></i> Submit</a>
            </li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" ng-model='searchText' placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
            <li class="dropdown">
              <a  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">Sort By: <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" style='text-shadow: none;'>
                <li ng-click='sortOrder("points")'><a href='#'>Votes</a></li>
                <li ng-click='sortOrder("time")'><a href='#'>Date</a></li>
                <li ng-click='sortOrder("title")'><a href='#'>Title</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class='col-md-4 col-md-offset-1'>
        <form   class='postSubmitForm'
                name='submitForm'
                ng-if='toggleForm'
                ng-hide='formComplete'
                ng-submit='submitPost()'
                novalidate>
          <div  class='form-group has-feedback'
                ng-class='{ "has-error": submitForm.title.$invalid && submitForm.title.$touched,
                            "has-success": submitForm.title.$valid }'>
            <label for='title'>Title</label>
            <input  class='form-control'
                    type='text'
                    name='title'
                    ng-model='postForm.title'
                    ng-minlength=3
                    ng-maxlength=30
                    required />
            <span class='form-control-feedback'
                  ng-show='submitForm.title.$invalid && submitForm.title.$touched'>
                  <i  class="fa fa-times"
                      aria-hidden="true"
                      style='color: red;'></i>
            </span>
            <span class='form-control-feedback'
                  ng-show='submitForm.title.$valid'>
                  <i  class="fa fa-check"
                      aria-hidden="true"
                      style='color: green;'></i>
            </span>
            <div class="error" ng-messages="submitForm.title.$error" ng-if="submitForm.title.$touched">
              <p ng-message="minlength">Title is too short.</p>
              <p ng-message="maxlength">Title is too long.</p>
              <p ng-message="required">Title is required.</p>
            </div>
          </div>
          <div  class='form-group has-feedback'
                ng-class='{ "has-error": submitForm.author.$invalid && submitForm.author.$touched,
                            "has-success": submitForm.author.$valid }'>
            <label for='author'>Author</label>
            <input  class='form-control'
                    type='text'
                    name='author'
                    ng-model='postForm.author'
                    ng-minlength=3
                    ng-maxlength=16
                    required />
            <span class='form-control-feedback'
                  ng-show='submitForm.author.$invalid && submitForm.author.$touched'>
                  <i  class="fa fa-times"
                      aria-hidden="true"
                      style='color: red;'></i>
            </span>
            <span class='form-control-feedback'
                  ng-show='submitForm.author.$valid'>
                  <i  class="fa fa-check"
                      aria-hidden="true"
                      style='color: green;'></i>
            </span>
            <div class="error" ng-messages="submitForm.author.$error" ng-if="submitForm.author.$touched">
              <p ng-message="minlength">Author name is too short.</p>
              <p ng-message="maxlength">Author name is too long.</p>
              <p ng-message="required">Author name is required.</p>
            </div>
          </div>
        <div  class='form-group has-feedback'
              ng-class='{ "has-error": submitForm.img.$invalid && submitForm.img.$touched,
                          "has-success": submitForm.img.$valid }'>
          <label for='img'>Image Url</label>
          <input  class='form-control'
                  type='url'
                  name='img'
                  ng-model='postForm.img'
                  required />
          <span class='form-control-feedback'
                ng-show='submitForm.img.$invalid && submitForm.img.$touched'>
                <i  class="fa fa-times"
                    aria-hidden="true"
                    style='color: red;'></i>
          </span>
          <span class='form-control-feedback'
                ng-show='submitForm.img.$valid'>
                <i  class="fa fa-check"
                    aria-hidden="true"
                    style='color: green;'></i>
          </span>
          <div class="error" ng-messages="submitForm.img.$error" ng-if="submitForm.img.$touched">
            <p ng-message="type">Must be in url format.</p>
            <p ng-message="required">Img url is required.</p>
          </div>
        </div>
          <div  class='form-group has-feedback'
                ng-class='{ "has-error": submitForm.description.$invalid && submitForm.description.$touched,
                            "has-success": submitForm.description.$valid }'>
            <label for='description'>Description</label>
            <textarea  class='form-control'
                    type='text'
                    name='description'
                    ng-model='postForm.description'
                    ng-minlength=3
                    ng-maxlength=450
                    required>
            </textarea>
            <span class='form-control-feedback'
                  ng-show='submitForm.description.$invalid && submitForm.description.$touched'>
                  <i  class="fa fa-times"
                      aria-hidden="true"
                      style='color: red;'></i>
            </span>
            <span class='form-control-feedback'
                  ng-show='submitForm.description.$valid'>
                  <i class="fa fa-check"
                  aria-hidden="true"
                  style='color: green;'></i>
            </span>
            <div class="error" ng-messages="submitForm.description.$error" ng-if="submitForm.description.$touched">
              <p ng-message="minlength">Description is too short.</p>
              <p ng-message="maxlength">Description is too long.</p>
              <p ng-message="required">Description is required.</p>
            </div>
          </div>
          <div class='form-group'>
            <label for='artist'>Soundtrack Artist Search</label>
            <input  class='form-control songSearch'
                    type='text'
                    name='artist'
                    ng-model='postForm.artist'
                    placeholder='optional'
                    />
            <button type='button' class='btn btn-default' ng-click= 'searchSC(postForm.artist)'>Get Songs</button>
            <select ng-model='postForm.songSelect' style='font-size: 12pt; color: black;'>
              <option ng-repeat='track in postForm.tracks' value='{{ track.permalink_url }}'>{{ track.title }}</option>
            </select>
          </div>
          <div class='form-group has-feedback'>
            <button class='btn btn-primary'
                    type='submit' ng-disabled='!submitForm.$valid'
                    ng-click='formComplete = true'>Submit
            </button>
          </div>
        </form>
      </div>
      <div class='col-md-4 trackList'>
      </div>
    </div>
    <div class='container main'>
      <ul ng-repeat='post in posts | filter:searchText | orderBy:sortBy'>
        <li class='row postContainer'>
          <div class='col-md-12 postBorder'>
            <div class='row'>
              <div class='col-md-8 col-md-offset-2 soundtrack' style='margin-bottom: 15px;'>
                <div ng-bind-html='post.player_html'></div>
              </div>
            </div>
            <div class='row'>
              <div class='col-md-1 postVotes' style='text-align: center;'>
                <div class='upVote'>
                  <a href='#' ng-click='increasePoints(post)'>
                    <i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
                  </a>
                </div>
                <div  class='voteCount'
                      style='font-size: 14pt;'
                      ng-class='{ positive: post.points > 0, negative: post.points < 0 }'>
                  {{ post.points }}
                </div>
                <div class='downVote'>
                  <a href='#' ng-click='decreasePoints(post)'>
                    <i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class='col-md-2 postImage'>
                <div class='scaleImage'>
                  <img ng-src='{{ post.img }}'/>
                </div>
              </div>
              <div class='col-md-8 postContent'>
                <div class='col-md-8 postTitle'>
                  {{ post.title }}
                </div>
                <div class='row'>
                  <div class='col-md-4 col-md-offset-8 postAuthor'>
                    By: {{ post.author }}
                  </div>
                </div>
                <div class='row'>
                  <div class='col-md-12 postDesc'>
                    {{ post.description }}
                  </div>
                </div>
                <div class='row' style='margin-top: 15px;'>
                  <div class='col-md-5' style='color: yellow'>
                    {{ post.time | amCalendar }}
                  </div>
                  <div class='col-md-3'>
                    <a href='#' ng-click='toggleComments = !toggleComments'>
                      <p  ng-pluralize
                          count='post.comments.length'
                          when="{ '1': '{} Comment ',
                                  'other': '{} Comments ' }"
                          display='inline-block'></p>
                    </a>
                  </div>
                  <div class='col-md-4'>
                    <a href='#' ng-click='toggleCommentForm = !toggleCommentForm; isComplete = false'>
                      <span>Add Comment </span>
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div  class='row commentContent'
                      ng-if='toggleComments'>
                  <div ng-repeat='comment in post.comments'>
                    <img class='commentPic' ng-src='{{ comment.img }}'/>
                    <p>{{ comment.name }}: <span> {{ comment.comment }}</span></p>
                  </div>
                </div>
                <div  class='row createComment'
                      ng-if='toggleCommentForm'
                      ng-hide='isComplete'>
                  <form name='commentForm'
                        ng-submit='submitComment(post)'
                        novalidate>
                    <div  class='has-feedback'
                          ng-class='{ "has-error": commentForm.name.$invalid && commentForm.name.$touched,
                                      "has-success": commentForm.name.$valid }'
                          style='display: inline-block;'>
                      <label for='name'>Name</label>
                      <input  type='text'
                              class='form-control'
                              name='name'
                              ng-model='comment.name'
                              ng-minlength=3
                              ng-maxlength=12
                              required />
                      <span class='form-control-feedback'
                            ng-show='commentForm.name.$invalid && commentForm.name.$touched'>
                            <i  class="fa fa-times"
                                aria-hidden="true"
                                style='color: red;'></i>
                      </span>
                      <span class='form-control-feedback'
                            ng-show='commentForm.name.$valid'>
                            <i class="fa fa-check"
                            aria-hidden="true"
                            style='color: green;'></i>
                      </span>
                      <div  class="error"
                            ng-messages="commentForm.name.$error"
                            ng-if="commentForm.name.$touched"
                            style='position: absolute'>
                        <p ng-message="minlength">Name is too short.</p>
                        <p ng-message="maxlength">Name is too long.</p>
                        <p ng-message="required">Name is required.</p>
                      </div>
                    </div>
                    <div  class='has-feedback'
                          style='display: inline-block;'
                          ng-class='{ "has-error": commentForm.img.$invalid && commentForm.img.$touched,
                                      "has-success": commentForm.img.$valid }'>
                      <label for='img'>Portrait Url</label>
                      <input  class='form-control'
                              type='url'
                              name='img'
                              ng-model='comment.img'
                              required />
                      <span class='form-control-feedback'
                            ng-show='commentForm.img.$invalid && commentForm.img.$touched'>
                            <i  class="fa fa-times"
                                aria-hidden="true"
                                style='color: red;'></i>
                      </span>
                      <span class='form-control-feedback'
                            ng-show='commentForm.img.$valid'>
                            <i  class="fa fa-check"
                                aria-hidden="true"
                                style='color: green;'></i>
                      </span>
                      <div  class="error"
                            style="position: absolute;"
                            ng-messages="commentForm.img.$error"
                            ng-if="commentForm.img.$touched">
                        <p ng-message="required">Portrait url is required.</p>
                      </div>
                    </div>
                    <div class='has-feedback'
                         style='margin-top: 15px;'
                         ng-class='{ "has-error": commentForm.comment.$invalid && commentForm.comment.$touched,
                                     "has-success": commentForm.comment.$valid }'>
                      <label for='comment'>Comment</label>
                      <input  type='text'
                              class='form-control'
                              name='comment'
                              ng-model='comment.comment'
                              ng-minlength=3
                              ng-maxlength=50
                              required />
                      <span class='form-control-feedback'
                            ng-show='commentForm.comment.$invalid && commentForm.comment.$touched'>
                            <i  class="fa fa-times"
                                aria-hidden="true"
                                style='color: red;'></i>
                      </span>
                      <span class='form-control-feedback'
                            ng-show='commentForm.comment.$valid'>
                            <i class="fa fa-check"
                            aria-hidden="true"
                            style='color: green;'></i>
                      </span>
                      <div  class="error"
                            ng-messages="commentForm.comment.$error"
                            ng-if="commentForm.comment.$touched"
                            style='position: absolute;'>
                        <p ng-message="minlength">Comment is too short.</p>
                        <p ng-message="maxlength">Comment is too long.</p>
                        <p ng-message="required">Comment is required.</p>
                      </div>
                    </div>
                    <button class='btn btn-primary'
                            type='submit'
                            ng-click='isComplete = true'
                            ng-disabled='commentForm.$invalid'>Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
