<!DOCTYPE html>
<html ng-app='RedditApp'>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>

    <!-- bootstrap and styles -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='css/normalize.css'/>
    <link rel='stylesheet' href='css/bootstrap.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='css/styles.css'/>

    <!-- soundCloud API -->
    <script src="http://connect.soundcloud.com/sdk.js"></script>

    <!-- angular files/dependencies -->
    <script src='js/lib/angular.js'></script>
    <script src='js/lib/angular-messages.js'></script>
    <script src='js/lib/angular-animate.js'></script>
    <script src='js/lib/moment.js'></script>
    <script src='js/lib/angular-moment.js'></script>
    <script src='js/lib/angular-sanitize.js'></script>

    <!-- angular build -->
    <script src='js/app.js'></script>
    <script src='posts/post_controller.js'></script>
    <script src='posts/post_service.js'></script>
    <script src='js/services/soundcloud.js'></script>
    <script src='posts/post_directive.js'></script>
  </head>
  <body ng-controller='PostController as vm'>
    <!-- //////////////////////////////
              navbar
    ///////////////////////////// -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Runnit</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a  href="#"
                    ng-click='toggleForm = !toggleForm; formComplete = false'><i class="fa fa-plus" aria-hidden="true" style='width: 10px'></i> Submit</a>
            </li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" ng-model='searchText' placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>
            <li class="dropdown">
              <a  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">Sort By: <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" style='text-shadow: none;'>
                <li ng-click='vm.sortOrder("-points")'><a href='#'>Votes</a></li>
                <li ng-click='vm.sortOrder("time")'><a href='#'>Date</a></li>
                <li ng-click='vm.sortOrder("title")'><a href='#'>Title</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- //////////////////////////////
            new post form
    ///////////////////////////// -->
    <div class='container'>
      <div class="row">
        <div class='col-md-4 col-md-offset-1'>
          <form   class='postSubmitForm'
                  name='submitForm'
                  ng-if='toggleForm'
                  ng-hide='formComplete'
                  ng-submit='vm.submitPost()'
                  novalidate>
            <div  class='form-group has-feedback'
                  ng-class='{ "has-error": submitForm.title.$invalid && submitForm.title.$touched,
                              "has-success": submitForm.title.$valid }'>
              <label for='title'>Title</label>
              <input  class='form-control'
                      type='text'
                      name='title'
                      ng-model='vm.postForm.title'
                      ng-minlength=3
                      ng-maxlength=30
                      required />
              <span class='form-control-feedback'
                    ng-show='submitForm.title.$invalid && submitForm.title.$touched'>
                    <i  class="fa fa-times"
                        aria-hidden="true"
                        style='color: red;'></i>
              </span>
              <span class='form-control-feedback'
                    ng-show='submitForm.title.$valid'>
                    <i  class="fa fa-check"
                        aria-hidden="true"
                        style='color: green;'></i>
              </span>
              <div class="error" ng-messages="submitForm.title.$error" ng-if="submitForm.title.$touched">
                <p ng-message="minlength">Title is too short.</p>
                <p ng-message="maxlength">Title is too long.</p>
                <p ng-message="required">Title is required.</p>
              </div>
            </div>
            <div  class='form-group has-feedback'
                  ng-class='{ "has-error": submitForm.author.$invalid && submitForm.author.$touched,
                              "has-success": submitForm.author.$valid }'>
              <label for='author'>Author</label>
              <input  class='form-control'
                      type='text'
                      name='author'
                      ng-model='vm.postForm.author'
                      ng-minlength=3
                      ng-maxlength=16
                      required />
              <span class='form-control-feedback'
                    ng-show='submitForm.author.$invalid && submitForm.author.$touched'>
                    <i  class="fa fa-times"
                        aria-hidden="true"
                        style='color: red;'></i>
              </span>
              <span class='form-control-feedback'
                    ng-show='submitForm.author.$valid'>
                    <i  class="fa fa-check"
                        aria-hidden="true"
                        style='color: green;'></i>
              </span>
              <div class="error" ng-messages="submitForm.author.$error" ng-if="submitForm.author.$touched">
                <p ng-message="minlength">Author name is too short.</p>
                <p ng-message="maxlength">Author name is too long.</p>
                <p ng-message="required">Author name is required.</p>
              </div>
            </div>
          <div  class='form-group has-feedback'
                ng-class='{ "has-error": submitForm.img.$invalid && submitForm.img.$touched,
                            "has-success": submitForm.img.$valid }'>
            <label for='img'>Image Url</label>
            <input  class='form-control'
                    type='url'
                    name='img'
                    ng-model='vm.postForm.img'
                    required />
            <span class='form-control-feedback'
                  ng-show='submitForm.img.$invalid && submitForm.img.$touched'>
                  <i  class="fa fa-times"
                      aria-hidden="true"
                      style='color: red;'></i>
            </span>
            <span class='form-control-feedback'
                  ng-show='submitForm.img.$valid'>
                  <i  class="fa fa-check"
                      aria-hidden="true"
                      style='color: green;'></i>
            </span>
            <div class="error" ng-messages="submitForm.img.$error" ng-if="submitForm.img.$touched">
              <p ng-message="type">Must be in url format.</p>
              <p ng-message="required">Img url is required.</p>
            </div>
          </div>
            <div  class='form-group has-feedback'
                  ng-class='{ "has-error": submitForm.description.$invalid && submitForm.description.$touched,
                              "has-success": submitForm.description.$valid }'>
              <label for='description'>Description</label>
              <textarea  class='form-control'
                      type='text'
                      name='description'
                      ng-model='vm.postForm.description'
                      ng-minlength=3
                      ng-maxlength=450
                      required>
              </textarea>
              <span class='form-control-feedback'
                    ng-show='submitForm.description.$invalid && submitForm.description.$touched'>
                    <i  class="fa fa-times"
                        aria-hidden="true"
                        style='color: red;'></i>
              </span>
              <span class='form-control-feedback'
                    ng-show='submitForm.description.$valid'>
                    <i class="fa fa-check"
                    aria-hidden="true"
                    style='color: green;'></i>
              </span>
              <div class="error" ng-messages="submitForm.description.$error" ng-if="submitForm.description.$touched">
                <p ng-message="minlength">Description is too short.</p>
                <p ng-message="maxlength">Description is too long.</p>
                <p ng-message="required">Description is required.</p>
              </div>
            </div>
            <div class='form-group'>
              <label for='artist'>Soundtrack Artist Search</label>
              <input  class='form-control songSearch'
                      type='text'
                      name='artist'
                      ng-model='vm.postForm.artist'
                      placeholder='optional'
                      />
              <button type='button' class='btn btn-default' ng-click= 'vm.searchSC(vm.postForm.artist)'>Get Songs</button>
              <select ng-model='vm.postForm.songSelect' style='font-size: 12pt; color: black;'>
                <option ng-repeat='track in vm.postForm.tracks' value='{{ track.permalink_url }}'>{{ track.title }}</option>
              </select>
            </div>
            <div class='form-group has-feedback'>
              <button class='btn btn-primary'
                      type='submit' ng-disabled='!submitForm.$valid'
                      ng-click='formComplete = true'>Submit
              </button>
            </div>
          </form>
        </div>
        <div class='col-md-4 trackList'>
        </div>
      </div>
    </div>
    <!-- //////////////////////////////
              posts
    ///////////////////////////// -->
    <div class='container main'>
      <ul>
        <li ng-repeat='post in vm.posts | filter:searchText | orderBy:vm.sortBy' class='row postContainer'>
          <user-post post='post'></user-post>
        </li>
      </ul>
    </div>
  </body>
</html>
